@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "Inter";
	font-weight: 100 900;
	src: url("/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-display: swap;
}

:root {
	--font-inter: "Inter", sans-serif;
	--t-space: 4px;
	scroll-behavior: smooth;
}

@theme {
	--font-sans: var(--font-inter);
}

@media screen and (max-width: 350px) {
	.overview_wrapper {
		flex-direction: column;
	}

	.overview_sub_wrapper {
		align-items: center;
	}
}

.shadow-custom {
	box-shadow:
		0 0 8px rgba(0, 0, 0, 0.1),
		0 2px 4px rgba(0, 0, 0, 0.05);
}

.cxl\:carousel {
	@media (width >= 1300px) {
		width: 1000px;
		margin-inline: auto;
		margin-block: 3em;
		border-radius: 6px;
		box-shadow: none;
		@apply shadow-2xl;
	}
}

._mobile-width {
	@media (415px < width <= 640px) {
		width: 90%;
	}

	@media (390px < width <= 415px) {
		width: 22rem;
	}

	@media (340px < width <= 390px) {
		width: 20rem;
	}

	@media (width <= 340px) {
		width: 19rem;
	}
}

._cinput {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
	}
}

._mobile-text {
	@media (width <= 350px) {
		font-size: 16px;
	}
}

._mobile-description {
	@media (width <= 350px) {
		font-size: 12px;
	}
}
