@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: "Inter";
	font-weight: 100 900;
	src: url("/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-display: swap;
}

:root {
	--font-inter: "Inter", sans-serif;
	--t-space: 4px;
}

@theme {
	--font-sans: var(--font-inter);
}

@media screen and (max-width: 350px) {
	.overview_wrapper {
		flex-direction: column;
	}

	.overview_sub_wrapper {
		align-items: center;
	}
}

.shadow-custom {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1),
		0 2px 4px rgba(0, 0, 0, 0.05);
}

.cxl\:carousel {
	@media (width >= 1300px) {
		width: 1000px;
		margin-inline: auto;
		margin-block: 3em;
		border-radius: 6px;
		box-shadow: none;
		@apply shadow-2xl;
	}
}

._actions {

	@media (370px <= width <= 640px) {
		@apply py-0 pt-2;
	}

	@media(width < 370px) {
		@apply !space-x-0 py-2;

		button {
			width: 60px !important;
		}
	}

	@media (width <= 640px) {
		@apply space-x-2;
	}

	@media(width <= 420px) {
		button {
			@apply w-auto p-1.5;
		}
	}
}